<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
	<meta charset="UTF-8">
	<title th:text="${pageTitle}">送信完了</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

	<header th:replace="~{fragments :: header}"></header>

	<main class="container">
		
		<nav th:replace="~{fragments :: breadcrumb(${breadcrumbs})}"></nav>
		
		<section class="page-heading">
			<h1>送信完了</h1>
			<p>
				お問い合わせ内容を受け付けました。
				現在は学習用のため、入力内容を画面に表示しています。
			</p>
		</section>
		
		<section class="content-section">
			<h2>送信内容</h2>
			
			<p><strong>お名前</strong><span th:text="${contactForm.name}"></span></p>
			<p><strong>メールアドレス:</strong><span th:text="${contactForm.email}"></span></p>
			<p><strong>件名:</strong><span th:text="${contactForm.subject}"></span></p>
			<p><strong>メッセージ</strong></p>
			<p th:text="${contactForm.message}"></p>
			
			<a class="main-button" th:href="@{/}">ホームへ戻る</a>
			<a class="sub-button" th:href="@{/contact}">もう一度送信する</a>
		</section>
	</main>
	<footer th:replace="~{fragments :: footer}"></footer>

</body>

</html>