<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
	<meta charset="UTF-8">
	<title th:text="${pageTitle}">送信完了</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

	<header th:replace="~{fragments :: header}"></header>

	<main class="container">
		
		<nav th:replace="~{fragments :: breadcrumb(${breadcrumbs})}"></nav>
		
		<section class="page-heading">
			<h1>送信完了</h1>
			<p th:if="${contactName != null}">
				<span th:text="${contactName}"></span>さん、
				お問い合わせありがとうございます。
			</p>
			
			<p th:unless="${contactName != null}">
				お問い合わせを受けました。
			</p>
			
			<p>
				入力いただいた内容を保存しました。
			</p>
		</section>
		
		<section class="content-section">
			<h2>送信が完了しました</h2>
			
			<p>
				ポートフォリオサイトをご覧いただき、
				ありがとうございます。
			</p>
			
			<a class="main-button" th:href="@{/}">
				ホームへ戻る
			</a>
			
			<a class="sub-button" th:href="@{/apps}">
				制作物を見る。
			</a>
		</section>
	</main>
	<footer th:replace="~{fragments :: footer}"></footer>

</body>

</html>